/* Card.css */

.card {
  width: 500px;
  height: 500px;
  perspective: 1000px;
  position: relative;
  margin: 20px;
}

.card .card-front {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #008080;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card h2{
  font-size: 2.5em;
}
.card p{
  font-size: 1.5em;
  text-align: center;
  line-height: 50px;
}
.card .buttons{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.buttons button{
  border: 1px solid black;
  padding: 10px;
  background-color:transparent;
  font-size: 1em;

}
button:hover{
  cursor: pointer;
  color: blue;
  background-color: rgba(0, 0, 255, 0.123);
}
.card.flipped .card-front {
  transform: rotateY(180deg);
}
.span-title{
  color: blue;
}


